/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark theme style */
.dark-theme {
    background-color: #333; 
    color: #eee; 
}

/* Main view style */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* header view style */
header {
    background-color: #4CAF50; /* Zöld szín */
    color: #fff;
    padding: 5px 0 0 0;
    text-align: left; /* Balra igazítás */
}

.header-item {
    padding: 0px;
    background-color: #4CAF50; /* Zöld szín */
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
}

#languageSelect { 
    max-width: 70px; 
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3em;
    margin-bottom: 20px;
    color: #4CAF50;
}

nav {
    text-align: center;
    background-color: #333; /* Zöld szín */
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

*/
p {
    font-size: 1.2em;
    margin-top: 0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    transition: color 0.3s;
}

nav > a:hover {
    color: #00457a;
}

.green-button {
    display: inline-block;
    background-color: #4CAF50 !important;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}

.green-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50; /* Zöld szín */
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Decks view */
@media (min-width: 576px) {
    .custom-button {
        width: 50%;
        margin: 0 auto;
        transition: background-color 0.3s, color 0.3s; /* Átmenet az egér fölötti állapotban */
        background-color: #4CAF50; /* Alapértelmezett zöld háttérszín */
        color: #ffffff; /* Alapértelmezett fehér szövegszín */
        height: 40px; /* Függőlegesen nagyobb gomb */
        border-radius: 5px; /* Lekerekített sarkok */
        border: none; /* Kék körvonal */
        text-align: center; /* Szöveg középre igazítása */
        line-height: 40px; /* Szöveg függőleges középre igazítása */
    }

    .custom-button:hover {
        background-color: #2E7D32; /* Sötétebb zöld szín egér fölött */
    }
}

@media (max-width: 575px) {
    .custom-button {
        width: 95%;
        margin: 0 auto;
        transition: background-color 0.3s, color 0.3s; /* Átmenet az egér fölötti állapotban */
        background-color: #4CAF50; /* Alapértelmezett zöld háttérszín */
        color: #ffffff; /* Alapértelmezett fehér szövegszín */
        height: 40px; /* Függőlegesen nagyobb gomb */
        border-radius: 5px; /* Lekerekített sarkok */
        border: none; /* Kék körvonal */
        text-align: center; /* Szöveg középre igazítása */
        line-height: 40px; /* Szöveg függőleges középre igazítása */
    }

    .custom-button:hover {
        background-color: #2E7D32; /* Sötétebb zöld szín egér fölött */
    }
}

/* Deck view */
@media (max-width: 575px) {
    .row {
        flex-wrap: nowrap !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

/* Deck-flipping view */
.container-first-page {
    display: flex;
    justify-content: center; /* Vízszintesen középre igazítás */
    align-items: center; /* Függőlegesen középre igazítás */
    position: relative;
    width: 100%;
    height: calc(100vh - 63px); /* A konténer magassága legyen egyenlő a viewport magasságával */
}

.container-second-page {
    display: flex;
    justify-content: center; /* Vízszintesen középre igazítás */
    align-items: center; /* Függőlegesen középre igazítás */
    position: relative;
    width: 100%;
    height: calc(50vh - 63px); /* A konténer magassága legyen egyenlő a viewport magasságával */
}

.text-center {
    text-align: center; /* Szöveg középre igazítása */
}

.flip-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0px;
    transition: background-color 0.3s, color 0.3s; /* Átmenet az egér fölötti állapotban */
    background-color: #6b4ca4;
    color: #ffffff; /* Alapértelmezett fehér szövegszín */
    height: 80px; /* Függőlegesen nagyobb gomb */
    text-align: center; /* Szöveg középre igazítása */
    line-height: 80px; /* Szöveg függőleges középre igazítása */
    font-size: 1.5rem;
}

.flip-button:hover, .flip-button:active  {
    background-color: #3b3b3b; /* Sötétebb zöld szín egér fölött */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Az ablak magasságának feléig terjed */
}

.centered-container-one-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 20vh 0;
}

.centered-container-two-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 0 15% 0;
}

/* card view style */
.card-box-flex-container {
    display: flex;
    justify-content: center; /* Vízszintes középre igazítás */
    align-items: center; /* Függőleges középre igazítás */
}

.card-box {
    width: 18vw; 
    height: 17vw;
    padding: 0;
    margin: 0 1vw; /* 1% -os margó a viewport szélességéhez képest */
    text-decoration: none;
    border-radius: 0.25rem; /* Kerekített sarkok */
}

.card-checkbox {
    /* Minden alap tulajdonság törlése */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Piros keret stílus a kattintás után */
.card-checkbox:checked + .card-label-new, .card-checkbox:checked + .card-label-fail, .card-checkbox:checked + .card-label-hard, .card-checkbox:checked + .card-label-good, .card-checkbox:checked + .card-label-easy {
    display: inline-flex; /* inline-flex az inline-block helyett */
    justify-content: center; /* Szöveg középre igazítása vízszintesen */
    align-items: center; /* Szöveg középre igazítása függőlegesen */
    padding: 0;
    margin: 0;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 0.50rem; /* Kerekített sarkok */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Árnyék */
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 
    0 0 0 3px rgb(255, 255, 255), /* Első border - piros */
    0 0 0 4px rgb(0, 0, 0); /* Második border - kék */
}

.card-label-new {
    display: inline-flex; /* inline-flex az inline-block helyett */
    justify-content: center; /* Szöveg középre igazítása vízszintesen */
    align-items: center; /* Szöveg középre igazítása függőlegesen */
    width: 18vw; 
    height: 17vw;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    background-color: #6b4ca4; /* Piros háttérszín, melyet gombnak látszik */
    border: none; /* Piros keret */
    border-radius: 0.50rem; /* Kerekített sarkok */
    text-align: center;
    color: white;
    font-weight: bold;
}

.card-label-fail {
    display: inline-flex; /* inline-flex az inline-block helyett */
    justify-content: center; /* Szöveg középre igazítása vízszintesen */
    align-items: center; /* Szöveg középre igazítása függőlegesen */
    width: 18vw; 
    height: 17vw;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    background-color: #ee4266; /* Piros háttérszín, melyet gombnak látszik */
    border: none; /* Piros keret */
    border-radius: 0.50rem; /* Kerekített sarkok */
    text-align: center;
    color: white;
    font-weight: bold;
}

.card-label-hard {
    display: inline-flex; /* inline-flex az inline-block helyett */
    justify-content: center; /* Szöveg középre igazítása vízszintesen */
    align-items: center; /* Szöveg középre igazítása függőlegesen */
    width: 18vw; 
    height: 17vw;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    background-color: #ffd23f; /* Piros háttérszín, melyet gombnak látszik */
    border: none; /* Piros keret */
    border-radius: 0.50rem; /* Kerekített sarkok */
    text-align: center;
    color: white;
    font-weight: bold;
}

.card-label-good {
    display: inline-flex; /* inline-flex az inline-block helyett */
    justify-content: center; /* Szöveg középre igazítása vízszintesen */
    align-items: center; /* Szöveg középre igazítása függőlegesen */
    width: 18vw; 
    height: 17vw;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    background-color: #45c8e2; /* Piros háttérszín, melyet gombnak látszik */
    border: none; /* Piros keret */
    border-radius: 0.50rem; /* Kerekített sarkok */
    text-align: center;
    color: white;
    font-weight: bold;
}

.card-label-easy {
    display: inline-flex; /* inline-flex az inline-block helyett */
    justify-content: center; /* Szöveg középre igazítása vízszintesen */
    align-items: center; /* Szöveg középre igazítása függőlegesen */
    width: 18vw; 
    height: 17vw;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    background-color: #20c670; /* Piros háttérszín, melyet gombnak látszik */
    border: none; /* Piros keret */
    border-radius: 0.50rem; /* Kerekített sarkok */
    text-align: center;
    color: white;
    font-weight: bold;
}

/* card-flipping view style */
.fail-button {
    background-color: #ee4266;
    color: white;
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border-top: solid black;
    border-right: solid black;
    border-left: none;
    font-size: 1.5rem;
}

.hard-button {
    background-color: #ffd23f;
    color: white;
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border-top: solid black;
    border-right: solid black;
    border-left: none;
    font-size: 1.5rem;
}

.good-button {
    background-color: #45c8e2;
    color: white;
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border-top: solid black;
    border-right: solid black;
    border-left: none;
    font-size: 1.5rem;
}

.easy-button {
    background-color: #20c670;
    color: white;
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border-top: solid black;
    border-right: none;
    border-left: none;
    font-size: 1.5rem;
}

@media (min-width: 575px) {
    .fail-button:hover, .fail-button:active {
        background-color: #ee1111;
    }
    
    .hard-button:hover, .hard-button:active {
        background-color: #ffb300;
    }
    
    .good-button:hover, .good-button:active {
        background-color: #00d5ff;
    }
    
    .easy-button:hover, .easy-button:active {
        background-color: #0cea77;
    }
}

