/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark theme style */
.dark-theme {
    background-color: #333; 
    color: #fff; 
}

/* Main view style */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Az elemeket középre igazítja */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* header view style */
.header-item {
    padding: 0px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
}

/* Contact view style*/
.contact_container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.contact_container form {
    margin-top: 20px;
}

.contact_container label,
.contact_container input,
.contact_container textarea {
    display: block;
    margin-bottom: 10px;
}

.contact_container input[type="text"],
.contact_container input[type="email"],
.contact_container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact_container button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact_container button[type="submit"]:hover {
    background-color: #0056b3;
}